<launch>
  <arg name="position_x" default="3.0" />
  <arg name="position_y" default="3.0" />
  <arg name="position_z" default="0.0" />
  <arg name="scale_x" default="1.0" />
  <arg name="scale_y" default="1.0" />
  <arg name="scale_z" default="1.0" />

  <node pkg="lattice_planner" type="fake_obstacle_publisher" name="fake_obstacle_publisher" output="screen" >
    <param name="position_x" value="$(arg position_x)"/>
    <param name="position_y" value="$(arg position_y)"/>
    <param name="position_z" value="$(arg position_z)"/>
    <param name="scale_x" value="$(arg scale_x)"/>
    <param name="scale_y" value="$(arg scale_y)"/>
    <param name="scale_z" value="$(arg scale_z)"/>
  </node>
</launch>